﻿@{
    ViewData["Title"] = "About";
}
<h2>Our Team</h2>
<hr />
<a asp-action="Pack" asp-controller="Home"><h3>Johnny Pack</h3></a>
<br />
<a asp-action="Keeler" asp-controller="Home"><h3>Stephen Keeler</h3></a>
<br />
<a asp-action="Moore" asp-controller="Home"><h3>Brandon Moore</h3></a>
<br />
<a asp-action="Simpson" asp-controller="Home"><h3>Tyler Simpson</h3></a>