﻿@{
    ViewData["Title"] = "Contact";
}

<h2>Contact Us</h2>
<hr />
<h3>Johnny Pack</h3>
<address>
    <strong>Email:</strong> <a href="mailto:PackJC@ETSU.edu">PackJC@ETSU.edu</a><br />
</address>

<h3>Stephen Keeler</h3>
<address>
    <strong>Email:</strong> <a href="mailto:KeelerSL@ETSU.edu">KeelerSL@ETSU.edu</a><br />
</address>

<h3>Brandon Moore</h3>
<address>
    <strong>Email:</strong> <a href="mailto:MooreBE1@ETSU.edu">MooreBE1@ETSU.edu</a><br />
</address>

<h3>Tyler Simpson</h3>
<address>
    <strong>Email:</strong> <a href="mailto:SimpsonTD@ETSU.edu">SimpsonTD@ETSU.edu</a><br />
</address>
