﻿@{
    ViewData["Title"] = "Home Page";
}

<p class="aligncenter">
    <img src="https://teenlife.s3.amazonaws.com/media/uploads/listings/FjhvLlf60G_4.png" alt="centered image" />
</p>

<h1 align="center">Lab 1</h1>
<h1 align="center">Software Engineering</h1>
<h1 align="center">East Tennessee State University</h1>



