﻿
@{
    ViewData["Title"] = "Keeler";
}

<h2>Keeler</h2>

<p>
    My Name is Lee Keeler. I am 21 Years old and am initially from Franklin, Tennessee. I
    am currently attending East Tennessee State University for a Computer Science Degree with a Concentration
    in Information Technology. I have been attending since august 2016 and anticipate graduating in the spring of 2021.
</p>

