﻿
@{
    ViewData["Title"] = "Moore";
}

<h2>Brandon Moore</h2>
<p>
    Hello, my name is Brandon Moore.  I am an ETSU undergrad working on my IT BA degree.  I am original from Knoxville who moved up to Johnson City to attend college.
    In the future while I am not completely sure what I want to do with my degree I do know I would like to move to a bigger city - as I just like the environment.
    I have been out of state multiple times to visit friends in Massachusetts.  I have been out of the country only once to visit Canada.
</p>