﻿@{

}
    <div>
        <h1>Johnny Pack</h1>
        <p>Software Developer</p>
        <p>PackJC@ETSU.edu</p>
        <br />
        <p>I'm an aspiring full-stack developer. Graduating with my degree in Computing December '20.</p>
    </div>
