﻿
@{
    ViewData["Title"] = "Simpson";
}

<h2>Tyler Simpson -  biography</h2>

<img src="~/images/TylerProfile.jpg" alt="Tyler Simpson" align="middle" height="300">


<hr>

<p>
    Tyler was born in Salt Lake City, Utah and subsequently moved to Kingsport Tennessee.
    He is a senior at ETSU working towards a degree in Computer Science with a CS concentration.
    Hobbies include home improvement, anime, video games, and reading.
    He currently lives with his wife in Johnson City, TN.
</p>